<section class="section" ng-controller="GrapheController">

	<div class="sidebar">
		<label for="matrice">Matrice d'adjacence du graphe : </label>
		<br />
		<textarea placeholder="Saisir la matrice d'adjacence du graphe" class="form-control" name="matrice" id="matrice" ng-model="matrice" rows="10"></textarea>
		<br /><br />
		<label for="type">Type de parcours : </label>
		<br />
		<select name="type" id="type" ng-model="type">
			<option value="larg">Parcours en largeur</option>
			<option value="prof">Parcours en profondeur</option>
		</select>
		<br /><br />
		<input type="checkbox" ng-model="pasApas" /> Mode pas à pas
		<br /><br />
		<button type="submit" ng-click="initialiser()" class="btn btn-default">Tracer</button>
		<button type="submit" ng-if="type == 'larg'" ng-click="parcoursLargeur()" class="btn btn-default">Parcourir</button>
		<button type="submit" ng-if="type == 'prof'" ng-click="parcoursProfondeur()" class="btn btn-default">Parcourir</button>
	</div>

	<div class="main">
		<div class="graphe">
			<div id="container"></div>
		</div>
		<div class="visites">
			<div>
				Ordre de pré-visite : 
				<br />
				Ordre de post-visite : 
			</div>
			<div class="resultats">
				{{ preVisite }}
				<br />
				{{ postVisite }}
			</div>
			<div class="clear"></div>
		</div>
	</div>

	<div class="clear"></div>

</section>