body {
	color: WindowText;
	font-family: "Segoe UI";
	background: #f0f0f0;
	font-size: 13px;
	margin: 0;
	padding: 5px;
	line-height: 20px;
}

textarea, input, button, select { outline: none; }

button {
	background: #dddddd;
	border: 1px solid #707070;
	padding: 7px 7px;
}
button:focus, button:hover {
	background: #bee6fd;
	border: 1px solid #3c7fb1;
}

select {
	background: #efefef;
	border: 1px solid #acacac;
	padding: 1px 2px;
}
select:focus, select:hover {
	background: #eaf3fc;
	border: 1px solid #7eb4ea;
}

textarea {
	border-radius: 0px;
	border: 1px solid #a9a9a9;
	font-family: "Consolas", Courier New, monospace;
	font-size: 14px;
	padding: 10px;
	resize: none;
	width: 200px;
}
textarea:focus, textarea:hover {
	border: 1px solid #569de5;
}

.header {
	width: 100%;
	padding: 12px 0;
	line-height: 30px;
	text-align: center;
}

.header h1 {
	font-weight: 400;
	padding: 0;
	margin: 0;
}

.section {
	width: 100%;
	border: 1px solid #a9a9a9;
}

.sidebar {
	height: 400px;
	padding: 20px;
	float: left;
	border-top: 0px;
}

.main {
	border-left: 1px solid #a9a9a9;
	float: left;
	width: 598px;
}

.graphe {
	background: #fff;
	border-bottom: 1px solid #a9a9a9;
	width: 723px;
	height: 333px;
	padding: 20px 0;
}

.visites {
	background: #ededed;
	padding: 10px;
	line-height: 25px;
	height: 50px;
}

.visites div {
	float: left;
}

.visites .resultats {
	font-weight: bold;
	padding-left: 25px;
}

.footer {
	width: 98%;
	font-size: 12px;
	line-height: 30px;
	text-align: right;
}

.clear { clear: both; }

#container {
	max-width: 500px;
	height: 300px;
	margin: auto;
}